.container {
	display: flex;
	flex-direction: column;
	width: 610px;
	/* margin-bottom: 10px; */
}

.username_user_chat {
	font-family: 'Antonio', sans-serif;
	font-size: 22px;
	margin-bottom: 10px;
}

.chat_container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 170px);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0.063rem 0.063rem 0.125rem rgba(0, 0, 0, 0.25),
		-0.063rem -0.063rem 0.125rem rgba(0, 0, 0, 0.25);
}

.mensajes_container {
	height: 90%;
}

.mensaje_new_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 16px 0;
}

.mensaje_new_avatar {
	width: 2.063rem;
	height: 2.063rem;
	padding: 0.125rem;
	border: 0.125rem solid var(--color-primary);
	border-radius: 50%;
	overflow: hidden;
	margin-right: 14px;
}

.mensaje_new_avatar img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.mensaje_new_input_container {
	width: 77%;
	margin-right: 15px;
}

.mensaje_new_input {
	width: 100%;
	padding: 0.313rem 0 0.313rem 5px;
	border: none;
	/* border-radius: 0.313rem; */
	border-bottom: 1px solid #1e2a7870;
	outline: none;
	color: var(--color-primary);
}

.comentario_btnPublicar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	border: none;
	color: var(--color-primary);
	background-color: var(--background-color-primary);
	opacity: 0.5;
}

.comentario_btnPublicarShow {
	opacity: 1;
}

.btn_icon {
	width: 20px;
	height: 20px;
}
