.container {
	position: relative;
	display: flex;
	align-items: center;
}

.container:not(:nth-last-child(1)) {
	margin-bottom: 40px;
}

.container:not(:nth-last-child(1))::after {
	position: absolute;
	content: '';
	width: 90%;
	height: 1px;
	bottom: -20px;
	left: 50%;
	background-color: var(--color-primary);
	transform: translateX(-50%);
	opacity: 0.3;
}

.avatar_container {
	margin-right: 20px;
}

.avatar {
	width: 50px;
	height: 50px;
	padding: 0.125rem;
	border: 0.125rem solid var(--color-primary);
	border-radius: 50%;
	overflow: hidden;
}

.avatar img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.info_mensaje_container {
	display: flex;
	flex-direction: column;
	width: 85%;
	/* padding-top: 10px; */
}

.username {
	font-weight: bold;
}

.mensaje {
	font-size: 14px;
	opacity: 0.7;
}
