.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.title {
	font-family: 'Antonio', sans-serif;
	margin-bottom: 2.5rem;
	color: var(--color-primary);
}

.login_container {
	position: relative;
}

.error_container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -30px;
	left: 0;
	width: 100%;
	opacity: 0;
	animation: fadein 0.2s forwards;
}

@keyframes fadein {
	to {
		opacity: 1;
	}
}

.error {
	color: var(--color-danger);
	font-weight: 500;
}

.login {
	position: relative;
	width: 21.25rem;
	padding: 1.875rem 1.563rem;
	border-radius: 0.313rem;
	background-color: var(--background-primary);
	box-shadow: 0.063rem 0.063rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input_password_container {
	display: flex;
	align-items: center;
	position: relative;
}

.icon {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0.625rem;
	cursor: pointer;
}

.icon svg {
	height: 100%;
}

.icon path {
	fill: #1e2a7870;
	transition: all 0.3s ease;
	pointer-events: none;
}

.icon:hover path {
	fill: var(--color-primary);
}

.input {
	width: 100%;
	padding: 0.313rem 0 0.313rem 0.625rem;
	border: none;
	border-radius: 0.313rem;
	border: 0.125rem solid #1e2a7870;
	color: var(--color-primary);
}

.input_email {
	margin-bottom: 0.938rem;
}

.input:focus {
	outline-color: var(--color-primary);
}

.input::placeholder {
	opacity: 0.6;
}

.recordarme_container {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.recordarme {
	display: flex;
	align-items: center;
}

/* .recordarme_check {
	display: inline-block;
	margin-right: 10px;
	height: 0.75rem;
	width: 0.75rem;
	border-radius: 0.125rem;
	border: 2px solid var(--color-primary);
	transition: 0.5s ease-in-out;
} */

.recordarme input {
	margin-right: 10px;
	/* display: none; */
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.875rem;
	width: 100%;
	height: 2.063rem;
	transition: all 0.5s ease;
}

.btn:hover {
	transform: scale(1.025);
}

.loadingButton {
	width: 2.063rem;
	height: 2.063rem;
	padding: 0;
	cursor: default;
}

.loadingButton svg {
	font-size: 1.125rem;
}

.link_registro {
	margin-top: 10px;
	font-family: 'Antonio', sans-serif;
	text-decoration: none;
	color: var(--color-primary);
}

/* 440px */
/* @media screen and (min-width: 27.5rem) {
	.login {
		margin-right: 10%;
	}

	.login_container {
		justify-content: flex-end;
	}

	.error_container {
		width: max-content;
	}
} */
