.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.title {
	font-family: 'Antonio', sans-serif;
	margin-bottom: 10px;
}

.registro_container {
	position: relative;
	width: 21.25rem;
	padding: 1.875rem 1.563rem;
	border-radius: 0.313rem;
	background-color: var(--background-primary);
	box-shadow: 0.063rem 0.063rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input_password_container {
	display: flex;
	align-items: center;
	position: relative;
}

.input_password_container:not(:nth-last-child(1)) {
	margin-bottom: 0.938rem;
}

.icon {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0.625rem;
	cursor: pointer;
}

.icon svg {
	height: 100%;
}

.icon path {
	fill: #1e2a7870;
	transition: all 0.3s ease;
	pointer-events: none;
}

.icon:hover path {
	fill: var(--color-primary);
}

.input {
	width: 100%;
	padding: 0.313rem 0 0.313rem 0.625rem;
	border: none;
	border-radius: 0.313rem;
	border: 0.125rem solid #1e2a7870;
	color: var(--color-primary);
}

.input_marginBotton {
	margin-bottom: 0.938rem;
}

.input:focus {
	outline-color: var(--color-primary);
}

.input::placeholder {
	opacity: 0.6;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	/* margin-top: 1.875rem; */
	width: 100%;
	height: 2.063rem;
	transition: all 0.5s ease;
}

.btn:nth-last-child(1) {
	margin: 0;
}

.btn:hover {
	transform: scale(1.025);
}
