.container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 85.375rem;
	min-height: 100%;
	height: fit-content;
	padding-top: 4.375rem;
	margin: auto;
}

/* 1020px */
/* @media screen and (min-width: 63.75rem) {
	.container {
		padding-top: 4.375rem;
	}
} */
