.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 2px;
	box-shadow: 0.063rem 0.063rem 0.125rem rgba(0, 0, 0, 0.25),
		-0.063rem -0.063rem 0.125rem rgba(0, 0, 0, 0.25);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 14px 16px;
}

.user_container {
	display: flex;
	align-items: center;
	height: 32px;
}

.comentario_avatar,
.avatar {
	width: 2.063rem;
	height: 2.063rem;
	padding: 0.125rem;
	border: 0.125rem solid var(--color-primary);
	border-radius: 50%;
	overflow: hidden;
	margin-right: 14px;
}

.comentario_avatar img,
.avatar img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.username {
	font-size: 14px;
	font-weight: 500;
}

.opciones {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-primary);
	/* opacity: 0.8; */
}

.opciones svg {
	font-size: 15px;
}

.imagen_container {
	width: 100%;
	height: 640px;
	overflow: hidden;
}

.imagen_container img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.comentarios_container {
	padding: 14px 16px;
}

.comentario_container {
	display: flex;
}

.comentario_avatar {
	width: 24px;
	height: 24px;
}
