.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 2px;
	box-shadow: 0.063rem 0.063rem 0.125rem rgba(0, 0, 0, 0.25),
		-0.063rem -0.063rem 0.125rem rgba(0, 0, 0, 0.25);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 14px 16px;
}

.user_container {
	display: flex;
	align-items: center;
	height: 32px;
}

.comentario_avatar,
.avatar {
	width: 2.063rem;
	height: 2.063rem;
	padding: 0.125rem;
	border: 0.125rem solid var(--color-primary);
	border-radius: 50%;
	overflow: hidden;
	margin-right: 14px;
}

.comentario_avatar img,
.avatar img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.avatar {
	text-decoration: none;
	color: inherit;
}

.username {
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: inherit;
}

.username:hover {
	text-decoration: underline;
}

.opciones {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-primary);
	/* opacity: 0.8; */
}

.opciones svg {
	font-size: 15px;
}

.imagen_container {
	width: 100%;
	height: 640px;
	overflow: hidden;
}

.imagen_container img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.descripcion {
	display: flex;
	padding: 10px 16px 0;
	/* font-family: 'Antonio', sans-serif; */
}

.comentarios_container {
	padding: 14px 16px;
}

.comentario_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.comentario_avatar {
	width: 28px;
	height: 28px;
}
.comentario_input_container {
	width: 77%;
	margin-right: 15px;
}

.comentario_input {
	width: 100%;
	padding: 0.313rem 0 0.313rem 5px;
	border: none;
	/* border-radius: 0.313rem; */
	border-bottom: 1px solid #1e2a7870;
	outline: none;
	color: var(--color-primary);
}

.comentario_btnPublicar {
	padding: 0 5px;
	border: none;
	color: var(--color-primary);
	background-color: var(--background-color-primary);
	opacity: 0.5;
}

.comentario_btnPublicarShow {
	opacity: 1;
}
