.filters {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 1.25rem 0;
	padding: 0.063rem 0.313rem;
	overflow: hidden;
}

.search_container {
	position: relative;
	display: flex;
	align-items: center;
	width: fit-content;
	height: 100%;
}

.label {
	padding-right: 0.938rem;
	font-size: 0.938rem;
	font-weight: 600;
	color: var(--color-title);
}

.input {
	width: 100%;
	padding: 0.625rem 1.563rem 0.625rem 0.625rem;
	border: none;
	border-radius: 0.313rem;
	background-color: var(--background-secundary);
}

input[type='search']::-webkit-search-cancel-button {
	/* appearance: none; */
	cursor: pointer;
}

.input:focus {
	outline-color: var(--color-primary);
}

.input::placeholder {
	opacity: 0.6;
}

.search_icon {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	top: 0;
	right: 0.438rem;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

/* .input:focus + .search_icon {
	opacity: 0.5;
} */

.search_icon path {
	fill: var(--color-primary);
}

/* @media screen and (min-width: 320px) {
	.input {
		width: 100%;
	}
} */

.result_container {
	width: 100%;
	padding: 0.313rem 0;
}

.result {
	width: 100%;
	padding: 0 0.625rem;
}

.table_container {
	width: 100%;
	overflow-x: auto;
}

.table_container::-webkit-scrollbar {
	-webkit-appearance: none;
}

.table_container::-webkit-scrollbar:horizontal {
	height: 6px;
}

.table_container::-webkit-scrollbar-thumb {
	background-color: var(--color-title);
	border-radius: 0.313rem;
}

.table {
	width: 80rem;
	/* width: 100%; */
	border-collapse: collapse;
	/* margin-left: auto;
	margin-right: auto; */
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: max-content;
	/* margin-bottom: 0.313rem; */
	padding: 0.25rem 0;
	border-radius: 0.313rem;
	color: var(--background-primary);
	background-color: var(--color-secundary);
}

.title {
	width: 100%;
	text-align: center;
	font-size: 0.875rem;
}

.title:nth-last-child(1) {
	width: 50%;
}

.item {
	position: relative;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	/* min-width: max-content; */
	width: 100%;
	padding: 0.313rem 0;
	border-radius: 0.313rem;
	border: thin solid rgba(0, 0, 0, 0.1);
	transition: background-color 0.5s ease;
	color: var(--color-label);
}

.item:hover {
	background-color: rgba(222, 227, 227, 0.45);
}

.item_agotandose::after,
.item_agotado::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0.313rem;
	opacity: 0.5;
	pointer-events: none;
}

.item_agotandose::after {
	border: thin solid var(--color-warning);
}

.item_agotado::after {
	border: thin solid var(--color-danger);
}

.data_null,
.data {
	width: 100%;
	height: 100%;
	font-size: 0.875rem;
	text-align: center;
	border-right: thin solid rgba(0, 0, 0, 0.1);
}

.data:nth-last-child(1) {
	width: 50%;
	border-right: none;
}

.data_productos {
	font-weight: 600;
	color: #364f6b;
}

.stock_agotado,
.stock_agotandose {
	position: relative;
	color: white;
}

.stock_agotado::after,
.stock_agotandose::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 20%;
	height: 100%;
	border-radius: 0.313rem;
	background-color: var(--color-warning);
	transform: translateX(-50%);
	opacity: 0.85;
	z-index: -1;
}

.stock_agotandose::after {
	background-color: var(--color-warning);
}

.stock_agotado::after {
	background-color: var(--color-danger);
}

.btns {
	display: flex;
	align-items: center;
	justify-content: center;
	/* min-width: fit-content; */
	/* width: 100%;
	height: 100%; */
}

.btn {
	position: relative;
	height: 100%;
	font-size: 1rem;
	margin: 0 0.313rem;
	cursor: pointer;
}

.btn > svg {
	transition-property: transform;
	transition: 0.3s ease;
}

.btn:hover > svg {
	transform: scale(1.1);
}

.btn_edit,
.btn_delete {
	pointer-events: none;
}

.btn_edit path {
	width: 1.875rem;
	fill: var(--color-warning);
}

.btn_delete path {
	fill: var(--color-danger);
}
