:root {
	--color-primary: #1e2a78;
	--color-secundary: #6f86d6;
	--color-label: #212529;
	--color-disabled: #cdd5d5;
	--color-warning: #ea9215;
	--color-danger: #d32f2f;
	--color-title: #808b97;
	--color-success: #4fa98d;
	--background-primary: #ffffff;
	--background-secundary: #f4f4f4;
}

body::-webkit-scrollbar {
	-webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(30, 42, 120, 0.2);
}

.btn {
	padding: 0.313rem 0.625rem;
	border: none;
	border-radius: 0.313rem;
	font-weight: bold;
	color: white;
	transition: background-color 0.3s ease;
}

.btn:focus {
	outline: none;
}

.btn_basic {
	padding: 3px 22px;
	border: solid 0.125rem #4fa98d;
	color: #4fa98d;
	background-color: white;
}

.btn_basic:hover {
	color: #f4f4f4;
	background-color: #4fa98d;
}

.btn_success {
	color: #f4f4f4;
	background-color: #4fa98d;
}

.btn_success:hover {
	background-color: #378f73;
}

.btn_delete {
	color: #f4f4f4;
	background-color: #d32f2f;
}

.btn_delete:hover {
	background-color: #ad1c1c;
}

.btn_cancel {
	color: #f4f4f4;
	background-color: #212529;
}

.btn_cancel:hover {
	background-color: #14171a;
}

html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
	background-color: #ffffff;
	color: #000000;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	line-height: 1.5;
}

img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
} /*para navegadores que no las reconoce*/

li {
	margin-left: 16px;
	margin-left: 1rem;
	list-style-type: inherit;
	list-style-position: inside;
}

a:active,
a:hover {
	outline: 0;
}

table {
	border-collapse: collapse;
}

abbr,
i,
dfn,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

code,
pre {
	font-family: monospace;
}

textarea {
	resize: none;
}

button,
input,
optgroup,
option,
select,
textarea {
	font-family: inherit;
	font-size: 16px;
	font-size: 1rem;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='checkbox'],
input[type='radio'],
label,
select {
	cursor: pointer;
}

*[desabled] {
	cursor: default;
	color: #999999;
	background-color: #dddddd;
}
