.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 600px;
	min-height: calc(100vh - 4.375rem);
}

.noPost_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100% - 4.375rem);
	/* border: solid thin red; */
	/* background-color: red; */
}

.noPost_icon svg {
	font-size: 80px;
}

.noPost_icon svg path {
	fill: var(--color-primary);
}

.noPost_text {
	margin-top: 20px;
	font-family: 'Antonio', sans-serif;
	color: var(--color-label);
}

.newPost_container {
	position: fixed;
	right: 18%;
	bottom: 50px;
	/* transform: translateX(-18%); */
}

.addPost_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.addPost {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	/* padding: 15px; */
	border-radius: 50%;
	box-shadow: 0px 0.125rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
	background-color: var(--background-primary);
	cursor: pointer;
}

.addPost svg {
	font-size: 18px;
	transition: 0.5s ease-in-out;
	pointer-events: none;
}

.addPost svg path {
	fill: var(--color-primary);
}

.addPostRotate svg {
	transform: rotate(45deg);
}

.addPost_text {
	margin-top: 5px;
	font-size: 11px;
	font-family: 'Antonio', sans-serif;
	font-weight: bold;
	color: var(--color-label);
}

.newPost_form {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: -100%;
	left: 50%;
	width: 300px;
	padding: 20px;
	border-radius: 5px;
	background-color: var(--background-primary);
	box-shadow: 0px 0.125rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
	transform: translateX(-50%) translateY(-80%) scale(0.1);
	transform-origin: bottom;
	opacity: 0;
	pointer-events: none;
	/* animation: show 0.1s ease-in-out forwards; */
	transition: 0.1s ease-in-out;
}

.newPost_form_show {
	opacity: 1;
	transform: translateX(-50%) translateY(-80%);
	pointer-events: all;
}

/* @keyframes show {
	100% {
		opacity: 1;
		transform: translateX(-50%) translateY(-90%);
		pointer-events: all;
	}
} */

.inputGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input_label {
	margin-bottom: 5px;
	font-size: 15px;
	color: var(--color-label);
}

.textarea {
	width: 100%;
	height: 70px;
	/* padding: 0 0 0 0.625rem; */
	padding: 0.313rem 0 0.313rem 0.625rem;
	margin-bottom: 10px;
	border: none;
	border-radius: 0.313rem;
	resize: none;
	/* border: 0.125rem solid #1e2a7870; */
	color: var(--color-primary);
	background-color: var(--background-secundary);
}

.textarea:focus {
	outline-color: var(--color-primary);
}

.file_container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	overflow: hidden;
	margin-left: 0.125rem;
	background-color: var(--background-secundary);
}

.file_name {
	min-width: fit-content;
}

.input_file {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -625rem;
	opacity: 0;
	cursor: pointer;
}

.btn_file {
	padding: 0.125rem 0.313rem;
	border: none;
	border-radius: 0.188rem;
	border: 0.125rem solid var(--color-primary);
	font-size: 0.938rem;
	color: var(--background-primary);
	background-color: var(--color-primary);
	cursor: pointer;
	transition: all 0.3s ease;
}

.input_file:hover + .btn_file {
	color: var(--color-primary);
	background-color: var(--background-primary);
}

.btn_post {
	margin-top: 20px;
}
