.container {
	display: flex;
	flex-direction: column;
	width: 600px;
	min-height: calc(100vh - 4.375rem);
}

.noPost_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100% - 4.375rem);
	/* border: solid thin red; */
	/* background-color: red; */
}

.noPost_icon svg {
	font-size: 80px;
}

.noPost_icon svg path {
	fill: var(--color-primary);
}

.noPost_text {
	margin-top: 20px;
	font-family: 'Antonio', sans-serif;
	color: var(--color-label);
}
